@model Garage_2_0.Models.ParkVehicleModel

@{
    ViewData["Title"] = "Parkera ett fordon";
}

<h1>Parkera fordon</h1>

@*<h4>ParkedVehicleModel</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">Fordonstyp</label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList<VehicleType>()" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegNr" class="control-label"></label>
                <input asp-for="RegNr" class="form-control" />
                <span asp-validation-for="RegNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label">Färg</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Märke</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Modell</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoWheels" class="control-label">Antal hjul</label>
                <input asp-for="NoWheels" class="form-control" />
                <span asp-validation-for="NoWheels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreeText" class="control-label">Fri text</label>
                <input asp-for="FreeText" class="form-control" />
                <span asp-validation-for="FreeText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedIn" class="control-label">Starttid</label>
                <input asp-for="ParkedIn" class="form-control" />
                <span asp-validation-for="ParkedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedOut" class="control-label">Sluttid</label>
                <input asp-for="ParkedOut" class="form-control" />
                <span asp-validation-for="ParkedOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Parkera detta fordon" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan över parkerade fordon</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

