@model Garage_2_0.Models.Vehicle

@{
    ViewData["Title"] = "Edit";
}

<h1>Ändra parkeringsdetaljer</h1>

<h4>Fordon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RegNr" class="control-label"></label>
                <input asp-for="RegNr" class="form-control" />
                <span asp-validation-for="RegNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label">Färg</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Märke</label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Modell</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoWheels" class="control-label">Antal hjul</label>
                <input asp-for="NoWheels" class="form-control" />
                <span asp-validation-for="NoWheels" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkedIn" class="control-label">Parkering påbörjad</label>
                <label class="form-control">@Model.ParkedIn</label>
                <span asp-validation-for="ParkedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label">Ägare</label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleTypeClassId" class="control-label">Fordonstyp</label>
                <input asp-for="VehicleTypeClassId" class="form-control" />
                <span asp-validation-for="VehicleTypeClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara ändringar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Till Fordonslistan</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
