
@model Garage_2_0.Models.Member

@{
    ViewData["Title"] = "´Detaljvy";
}

<h1>Detaljvy</h1>

<div>
    <h4>Medlem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
           Medlem
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">Fordon</dt>
        <dd class="col-md-10">
            @foreach (var vehicle in Model.Vehicles)
            {
                <a asp-controller="Vehicles" asp-action="Details" asp-route-id="@vehicle.Id">
                    @vehicle.RegNr
                </a><br />
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Ändra</a> |
    <a asp-action="Index">Tillbaka till medlemslistan</a>
</div>
