@model Garage_2_0.Models.VehicleTypeClass

@{
    ViewData["Title"] = "Delete";
}

<h1>Tabort</h1>

<h3>Är Du säker ¨på att Du vill tabort denna fordonstyp?</h3>
<div>
    <h4>Fordonstyp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Type)*@
            Fordonstyp
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Price)*@
            Pris/minut
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Tabort" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till fordonstyplistan</a>
    </form>
</div>
