@model Garage_2_0.Models.VehicleTypeClass

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljvy</h1>

<div>
    <h4>Fordonstyp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Type)*@
            Fordonstyp
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Price)*@
            Pris/minut
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Ändra</a> |
    <a asp-action="Index">Tillbaka till fordonstyplistan</a>
</div>
